<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums API</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./JS/albumsByYear.js" defer></script>
</head>

<body>
    <h1>Albums</h1>
    <div class="album-options">
        <h2>Album list by year</h2>
        <label for="year">Select a Year</label>
        <%  
        const currentYear = (new Date()).getFullYear();
        const range = (start, stop, step) => Array.from({ length: (stop - start) / step + 1}, (_, i) => start + (i * step));
        const years = range(currentYear, currentYear - 50, -1);
         %>
        <select name="year" id="year">
            <% for(let year of years)  {%>
            <option value="<%=year%>"><%=year%></option>
            <% } %>
        </select>

        <a class="btn back">back</a>
        <a class="btn next">next</a>
    </div>
    <div class="album-container">
        <% for (let album of albumList) { %>
        <div class="album-container__card">

            <h2 name="albumName" value="<%=album.name%>"><%=album.name%></h2>
            <p name="albumArtist" value="<%=album.artist%>"> <%=album.artist%></p>
            <p name="albumRelease" value="<%=album.release_date%>"><%=album.release_date%></p>
            <a name="albumLink" value="<%=album.spotify_link%>" href="<%=album.spotify_link%>" target="_blank">Listen now on Spotify</a>
            <p name="albumTTracks" value=<%=album.total_tracks%>>Total tracks: <%=album.total_tracks%></p>
            <button class="btn favorites">Add to favorites</button>
            <img name="albumImage" src="<%=album.image%>" value="<%=album.image%>" alt="<%=album.name%> album cover">
        </div>
        <% } %>
    </div>
    <div class="album-options">
        <a class="btn back" >back</a>
        <a class="btn next" >next</a>
    </div>
</body>


</html>