<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums API</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./JS/albumsByYear.js" type="module" defer></script>
</head>

<body>
    <nav class="nav_container">
        <h1>Music Discovery App</h1>
        <p><a class="login" href="/login">Log In</a></p>
    </nav>
    <div class="album-options">
        <h2>Album list by year</h2>
        <p>Time to enjoy and discover new albums to listen to! There is a lot out there!!!</p>
        <label for="year">Select a Year</label>
        <%  
        const currentYear = (new Date()).getFullYear();
        const range = (start, stop, step) => Array.from({ length: (stop - start) / step + 1}, (_, i) => start + (i * step));
        const years = range(currentYear, currentYear - 50, -1);
         %>
        <select name="year" id="year">
            <% for(let year of years)  {%>
            <option value="<%=year%>"><%=year%></option>
            <% } %>
        </select>

        <a class="btn back">back</a>
        <a class="btn next">next</a>
    </div>
    <div class="album-container">
        <% for (let album of albumList) { %>
        <div class="album-container__card">

            <h2 name="albumName" value="<%=album.name%>"><%=album.name%></h2>
            <p name="albumArtist" value="<%=album.artist%>"> <%=album.artist%></p>
            <p name="albumRelease" value="<%=album.release_date%>"><%=album.release_date%></p>
            <a name="albumLink" value="<%=album.spotify_link%>" href="<%=album.spotify_link%>" target="_blank">Listen on Spotify</a>
            <p name="albumTTracks" value=<%=album.total_tracks%>>Total tracks: <%=album.total_tracks%></p>
            <button class="btn favorites">Add to favorites</button>
            <img name="albumImage" src="<%=album.image%>" value="<%=album.image%>" alt="<%=album.name%> album cover">
        </div>
        <% } %>
    </div>
    <div class="album-options">
        <a class="btn back">back</a>
        <a class="btn next">next</a>
    </div>
    <script>
        let list = document.querySelectorAll(".favorites");
        for (i of list) {
            i.addEventListener("click", (e) => {
                console.log("working here")
                // const parentNode = e.target.parentNode;
                // const children = Array.from(parentNode.childNodes);
                // //used to get array items that have a name in it, specified in the html file.
                // const elements = children.filter(
                //   (c) => c.className != "btn favorites" && c.nodeName != "#text"
                // );

                // let items = {};
                // console.log(items)

                // elements.forEach((element) => {
                //   items[element.getAttribute("name")] = element.getAttribute("value");
                // });

                // let url = window.location.href + `/saveAlbum`;
                // fetch(url, {
                //   method: "POST",
                //   headers: {
                //     "Content-Type": "application/json"
                //   },
                //   body: JSON.stringify(items)
                // });
            });
        }
    </script>
</body>


</html>